.login-container{
    display: flex;
    flex-direction: column;

    min-width: 300px;
    max-width: 700px;
    
    background-color:#F8BBD0;
    border: 2px solid #00BCD4;
    border-radius: 10px;
    padding: 10px;
}

h1{
    font-size:18px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 5px;
    width: 75%;
}